bin/
obj/
publish/
*.user
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
web/CRE132.Web/wwwroot/refs/
web/CRE132.Web/wwwroot/lessons/
web/CRE132.Web/wwwroot/samples/
